<div class="card" style="width: 30rem;">
  <div class="card-body m-2 p-3">
    <h3 class="card-title">~{{name}}~</h3>
    <h6 class="card-subtitle mb-2 text-muted">Description:</h6>
    <p class="card-text">{{description}}</p>
    <h6 class="card-subtitle mb-2 text-muted">Found In:</h6>
    <p class="card-text">{{location}}</p>
    <h6 class="card-subtitle mb-2 text-muted">Created By:</h6>
    <p class="card-text">{{user.name}} on {{format_date date_created}}</p>
  </div>
</div>
</br>