<div class="card">
    <h3 class="card-header">Edit Animal: {{animal.name}}</h3>
    <form class="card-body edit-animal-form">
        <label for="animal-name" class="form-label">Update Name:</label>
        <input name="animal-name" type="text" value="{{animal.name}}" class="form-input" />
        </br>
        <label class="form-label" for="description">Update Description:</label>
        <input name="description" type="text" value="{{animal.description}}" class="form-input" />
        </br>
        <label class="form-label" for="location">Update Location:</label>
        <input name="location" type="text" value="{{animal.location}}" class="form-input" />
        </br>
        <button type="submit" class="btn btn-primary">Update Animal</button>
        <button type="click" data-id="{{animal.id}}" class="animal-list btn btn-danger">Delete Animal</button>
    </form>
</div>


<script src="/js/editAnimal.js"></script>
<script src="/js/deleteAnimal.js"></script>